@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  scroll-behavior: smooth;
}

.active {
  /* border-bottom: 2px solid #fff; */
  background-color: #006600;
  border-radius: 50px;
  opacity: 0.6 !important;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif !important;
}

#home, #about, #about2, #contact {
    display: flex;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
}

#home, #about2, #skills {
  background-color: rgb(178,255,89);
  background-image: linear-gradient(to bottom, transparent,#57e619);
  padding: 20px 0px;
}

.page-content {
  display: flex;
}

.divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider .divider-line {
  width: 100%;
  max-width: 7rem;
  height: .25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50!important;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.container-text {
    display: flex;
    justify-content: center;
}

.container .arrow-button {
  margin: 0 auto;
}

.container .arrow-button span {
  color: #006600;
}

button.mdl-button--fab {
    background: rgba(66, 34, 66, 0.2);
}

.logo > img {
  object-fit: contain;
}

.about-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container-img {
    display: flex;
    justify-content: center;
}

.about-container-img > img {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  object-position: top;
}

.about-container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 25px;
    margin: 10px;
}

.about-container-education > .education-card, .certificate-card {
    background-color: #ffffff;
    border: 2px solid #006600;
}

.about-container-education {
    display: flex;
    justify-content: center;
}

.mdl-card {
    padding: 15px;
    margin: 15px;
}

.about-container-education .mdl-card__media {
    background-color: #ffffff;
}

.about-container-education img {
    height: 54px;
    border: 0;
    object-fit: contain;
}

.education-media {
    display: flex;
    border: 1px black solid;
}

.education-img {
  display: flex;
  align-self: center;
  margin-left: 5px;
}

.about-container-certification {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.mdl-card__supporting-text a {
  text-decoration: none;
  color: #006600;;
}

.hobbies {
    padding: 15px;
    margin: 15px;
}

.hobbies-text {
  display: inline-block;
  position: relative;
  left: 50%; 
  transform: translateX(-50%);
}

.hobbies-icons .hobby-icon {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    border: 1px solid grey;
    background-color: #00c6fb;
}

.hobby-icon:hover {
    background-color: #4dd8ff;
}

.hobbies-icons {
    justify-content: space-evenly;
    width: 70%;
}

.hobbies-text > #hobbies {
    display: flex;
    justify-content: center;
}

/* projects section */
#projects {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    /* height: 300vh; */
}

#projects .page-content {
  flex-direction: column;
}

#projects .divider {
  margin: 1.25rem 0 3.5rem;
}

.section-title {
    display: flex;
    justify-content: center;
    background: transparent;
    margin: 15px;
}

.project {
    height: auto;
    position: relative;
    border: 2px solid #006600;
}

.space {
  height: 20px;
}

.project img {
    height: 50vh;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    /* margin-bottom: 10px; */
    font-size: 20px;
    padding: 20px 0px;
    text-align: center;
    color: white;
    right: 0;
}
.overlay-item {
    padding: 5px;
}

.overlay-links {
    display: flex;
    justify-content: space-between;
}

.overlay-link {
    cursor: pointer;
}

.overlay-link a {
    text-decoration: none;
}

.overlay-gutter {
    width: 20px;
}

.project:hover .overlay{
    opacity: 1;
}

.tech-stack {
  display: flex;
}

.tech-stack .overlay-item button.tech-used {
  background-color: #ffffff;
  color: #006600;
}

@media (min-width: 840px){
  .project .mdl-cell {
    width: auto;
    margin: 0;
    /* margin-bottom: 8px; */
  }  
}

@media (min-width: 840px){
    .mdl-grid.project {
        padding: 0;
    }
}
 

@media (min-width: 840px){
  .project .mdl-cell--6-col, .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
    width: auto;
  }
}

/* skills section */

#skills .page-content {
  flex-direction: column;
}

#skills-animation {
  position:relative;
  width:680px;
  height:439px;
  margin:0 auto 10px;
  padding:10px;
}

#skills-animation .animated-skill {
  width:100px;
  height:100px;
  position:absolute;
  top:160px;
  left:0px;
  
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  text-align:center;
}
.animated-skill {
  width: 100px;
  border-radius: 23px;
  text-align: center;
}

#skills-animation .animated-skill img {
  width: 100px;
}

#skills-animation:hover #animated-skill-flip-card > p {
  display: none;
}

#animated-skill-flip-card {
  z-index: 35;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#animated-skill-html-css {
  z-index: 34;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left;
  -o-transition-property: top, left;
  -ms-transition-property: top, left;
  transition-property: top, left;
  -webkit-transition-duration: 1s, 1s;
  -moz-transition-duration: 1s, 1s;
  -o-transition-duration: 1s, 1s;
  -ms-transition-duration: 1s, 1s;
  transition-duration: 1s, 1s;
  -webkit-transition-delay: 0s, 1s;
  -moz-transition-delay: 0s, 1s;
  -o-transition-delay: 0s, 1s;
  -ms-transition-delay: 0s, 1s;
  transition-delay: 0s, 1s;
}

#animated-skill-js {
  z-index: 33;
  -webkit-transition-property: top, left, border-radius, background-color;
  -moz-transition-property: top, left, border-radius, background-color;
  -o-transition-property: top, left, border-radius, background-color;
  -ms-transition-property: top, left, border-radius, background-color;
  transition-property: top, left, border-radius, background-color;
  -webkit-transition-duration: 2s, 1s, 0.5s, 0.5s;
  -moz-transition-duration: 2s, 1s, 0.5s, 0.5s;
  -o-transition-duration: 2s, 1s, 0.5s, 0.5s;
  -ms-transition-duration: 2s, 1s, 0.5s, 0.5s;
  transition-duration: 2s, 1s, 0.5s, 0.5s;
  -webkit-transition-delay: 0s, 0.5s, 1s, 1.5s;
  -moz-transition-delay: 0s, 0.5s, 1s, 1.5s;
  -o-transition-delay: 0s, 0.5s, 1s, 1.5s;
  -ms-transition-delay: 0s, 0.5s, 1s, 1.5s;
  transition-delay: 0s, 0.5s, 1s, 1.5s;
}

#animated-skill-sass {
  z-index: 32;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#animated-skill-vue {
  z-index: 31;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#animated-skill-psql {
  z-index: 30;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#animated-skill-py-django {
  z-index: 29;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#animated-skill-node {
  z-index: 28;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#animated-skill-sql {
  z-index: 27;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

#animated-skill-mongo {
  z-index: 26;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;  
}

#animated-skill-rails {
  z-index: 25;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

#animated-skill-git {
  z-index: 24;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

#animated-skill-graphql {
  z-index: 23;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

#animated-skill-react {
  z-index: 22;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;  
}

#skills-animation:hover #animated-skill-flip-card, #skills-animation.hover_effect #animated-skill-flip-card {
  top: 0px;
  left: 0px;
}

#skills-animation:hover #animated-skill-html-css, #skills-animation.hover_effect #animated-skill-html-css {
  top: 320px;
  left: 450px;
}

#skills-animation:hover #animated-skill-js, #skills-animation.hover_effect #animated-skill-js {
  top: 0px;
  left: 450px;
}

#skills-animation:hover #animated-skill-git, #skills-animation.hover_effect #animated-skill-git {
  top: 0px;
  left: 150px;
}

#skills-animation:hover #animated-skill-vue, #skills-animation.hover_effect #animated-skill-vue {
  top: 0px;
  left: 300px;
}

#skills-animation:hover #animated-skill-psql, #skills-animation.hover_effect #animated-skill-psql {
  top: 0px;
  left: 600px;
}

#skills-animation:hover #animated-skill-py-django, #skills-animation.hover_effect #animated-skill-py-django {
  top: 160px;
  left: 150px;
}

#skills-animation:hover #animated-skill-rails, #skills-animation.hover_effect #animated-skill-rails {
  top: 160px;
  left: 300px;
}

#skills-animation:hover #animated-skill-sql, #skills-animation.hover_effect #animated-skill-sql {
  top: 160px;
  left: 450px;
}

#skills-animation:hover #animated-skill-mongo, #skills-animation.hover_effect #animated-skill-mongo {
  top: 160px;
  left: 600px;
}

#skills-animation:hover #animated-skill-node, #skills-animation.hover_effect #animated-skill-node {
  top: 320px;
  left: 0px;
}

#skills-animation:hover #animated-skill-sass, #skills-animation.hover_effect #animated-skill-sass {
  top: 320px;
  left: 150px;
}

#skills-animation:hover #animated-skill-graphql, #skills-animation.hover_effect #animated-skill-graphql {
  top: 320px;
  left: 300px;
}

#skills-animation:hover #animated-skill-react, #skills-animation.hover_effect #animated-skill-react {
  top: 320px;
  left: 600px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
}

/* contact section */

#contact {
  height: 70vh;
}

.form-wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-input {
  background-color: rgb(178,255,89);
}

textarea {
  height: 150px;
  resize: none !important;
}

/* Footer section */

footer.mdl-mini-footer {
  flex-direction: column;
}

.social-media-title {
  color: #ffffff;
}

ul {
  list-style: none;
}

.footer-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 500px;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  width: 100%;
}

.fa-stack-overflow {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-stack-overflow:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-reddit {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-reddit:hover {
    background-color: #eb8231;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}
.fa-github {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-github:hover {
  background-color: #5a32a3;
}

.footer-copyright {
  text-align: center;
}

.return-button {
  padding: 1.5rem;
  right: 0;
}

.return-button .return-to-top {
  height: 70px;
  width: fit-content;
}
.return-button .return-to-top a {
  color: #006600;
  text-decoration: none;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  nav.hide-on-mobile {
    display: none;
  }
}