#home, #about, #portfolio, #skills, #contact {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
}

.container-text {
    display: flex;
    justify-content: center;
}

/* .container .arrow-button {
    display: flex;
    justify-content: center;
} */

button.mdl-button--fab {
    background: rgba(66, 34, 66, 0.2);
}

.about-container-img {
    display: flex;
    justify-content: center;
}

.about-container-img > img {
    border-radius: 50%;
    height: 200px;
}

.about-container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-container-education {
    display: flex;
    justify-content: center;
}

.mdl-card {
    padding: 15px;
    margin: 15px;
}

.about-container-education .mdl-card__media {
    background-color: bisque;
}

.hobbies-icons {
    justify-content: space-evenly;
    width: 70%;
}

.hobbies-text > #hobbies {
    display: flex;
    justify-content: center;
}